.button-chatbot {
    position: fixed;
    bottom: 0px;
    right: 0px;
   margin: 12px;
   background-color:#292b2c;
   z-index:100;
   
  }
  .popover{
    max-width: 75%;

  }

  @media (min-width:766px){
    .popover {
      
      max-width: none;
  }
    body{
      
      min-width: 350px;
    }
} 