.box-create {
  display: flex;
  background-color: rgba(228, 235, 245, 0.4);
  border-radius: 10px;
  width: 85vw;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  padding: 0 0 24px 0;
}

.no-image {
  display: flex;
  background-color: grey;
  color: white;
  width: 450px;
  height: 300px;
  text-align: center;
  align-items: center;
  border: 2px solid black;
}

.dropzone{
  text-align: center;
  padding: 20px;
  border: 3px dashed rgb(126, 126, 126);
  background-color: #fafafa;
  border-radius: 3px;
  color: #bdbdbd;
  margin: 20px;
}

.carroza{
justify-content: center;
align-items: center;
}


.borrarImagen:hover{
  color: #504f4f;
}

.totales{
  border: 3px solid black;
  border-radius:50%;
}

.box-create label{
  color:white;
  display: flex;
  justify-content: center;
}

.borrarFoto{
  background-color: transparent;
  border: 0;
  position: absolute;
  border-radius: 10px;
  top: -15px;
  right: 5px;
  color: #fff;
  transition: all 0.3s;
}

.xdawod{
  margin-top: 15px;
  position: relative;
}

.borrarFoto:hover{
  color: #bab7b7;
}

.imgup{
  background-color: #151515;
  border-radius: 4px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.imgup .imgCreate{
  position: relative;
  width: 200px;
  height: 140px;
  padding: 10px;
}