.box-create {
  display: flex;
  background-color: rgba(228, 235, 245, 0.4);
  border-radius: 10px;
  width: 85vw;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  padding: 0;
}

.no-image {
  display: flex;
  background-color: grey;
  color: white;
  width: 450px;
  height: 300px;
  text-align: center;
  align-items: center;
  border: 2px solid black;
}
