
.Container {
    display: flex;
    width: 120vh;
    margin: 2vw;
    background-color: rgb(2, 14, 37);
    color: rgb(172, 171, 171);
    border-radius: 5px;
}
.Container:hover{
    background-color: rgb(172, 171, 171);
    color: rgb(2, 14, 37);
    box-shadow: 2px 2px 5px 5px rgb(5, 92, 92);
}

.Image {
    width: 40vh;
    margin: 2vw;
    border-radius: 5px;
}

.Detail {
    width: 50vh;
    margin: 2vw 2vw 2vw 0;
}