
.ContainerCards{
    /* background-color: blanchedalmond; */
}
h1 {
    text-align: center;
    padding-top: 5vh;
}


.Cards {
    width: 98vw;
    flex-wrap: wrap;
}

.ContainerCards h1 {
    text-align: center;
    padding-top: 3vh;
    color: rgb(129, 154, 167);
    
}

.Card :hover {
    background-color: rgb(129, 154, 167);
}

.background{
    /* background-color: blanchedalmond; */
}
