.Container {
    display: flex;
    width: 120vh;
    margin: 2vw;
    background-color: rgb(0, 0, 0);
    color: rgb(172, 171, 171);
}

.Image {
    width: 40vh;
    margin: 2vw;
}

.Detail {
    width: 50vh;
    margin: 2vw 2vw 2vw 0;
}