.Container {
    background-color:rgb(43, 54, 61);
}

.Cards {
    display: flex;
    width: 98vw;
    flex-wrap: wrap;
}

.Container h1 {
    text-align: center;
    padding-top: 3vh;
    color: rgb(129, 154, 167);
    
}

.Card :hover {
    background-color: rgb(129, 154, 167);
}