.home-container {
  background-color: blanchedalmond;
}

.home-container h1{
  display: inline;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.carousel {
  margin: 0 auto;
}

.carousel img {
  max-width: 500px;
  max-height: 500px;
  min-width: 650px;
  min-height: 500px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}


.collage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collage img{
  margin: 0 auto;
  width: 33%;
  margin: 10px 10px 0;
  max-width: 500px;
  max-height: 500px;
  position: relative;
  left: 0;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
}
