.footer-container{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: #212529;
    font-size: 15px;
    border-top: 2px solid black;
    color: white;
    padding-top:25px;

    margin: 10px auto;
    
}

.logos img{
    max-height: 30px;
    max-width: 30px;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: column;
       
}

.links a{
    color: white;
}

.links span{
    font-weight: bold;
    
}

.logos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end   ;
}

.logos span{
    font-weight: bold;
}

.logos a{
    text-decoration: none;
    color: white;
}

.footer-container{
    width: 100%;
}