.carousel{
    background-color: blanchedalmond;
    min-height: 400px;
}

.carousel img{
    max-width: 500px;
    max-height: 500px;
    min-width: 650px;
    min-height: 500px;
    border-radius: 7px;
}

.info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* background-image: url("https://media.gq.com.mx/photos/619fc54a7a3578ea6e576d03/1:1/w_2000,h_2000,c_limit/bares%20de%20vino-160836693.jpg"); */
  background-color: blanchedalmond;
}

.info img {
  max-width: 650px;
  max-height: 500px;
  border: 2px solid white
}

.texto {
    position: relative;
    top: 50%;
    
}

.texto p{
    align-items: center;
    justify-content: center;
}
