.About {
    height: 90vh;
    background-color: #000000;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flexbox;
    color: rgb(172, 171, 171);
}

.About p {
   width: 50vw;
   margin-left: 25vw;
}


.titulo{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
    margin-bottom: 15px;
}

.typed-cursor{
    transform: scale(2);
}