.About {
    height: 90vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flexbox;
    color: rgb(172, 171, 171);
}

.About h1 {
    padding: 30vh 0 5vh 0;
}


.About p {
   width: 50vw;
   margin-left: 25vw;
}

.About2 {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
}

.About2 img {
    width: 40vw;
    height: 60vh;
    margin-top: 20vh;
}

.Detail {
    width:30vw;
    margin-top: 30vh;
}
